# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.log

# Terraform state
*.tfstate
*.tfstate.backup
.terraform/

# Local environment files
.env
*.pem

# Node/npm (якщо є)
node_modules/

# IDE/OS junk
.DS_Store
*.swp
.idea/
.vscode/
terraform/.terraform.lock.hcl
terraform/terraform.exe
terraform/lambda/ask_handler.zip
deploy.cmd
terraform/terraform.tfstate.1751460811.backup
terraform/terraform.tfstate.1751460893.backup
.gitignore
terraform/terraform.tfstate.1751460906.backup
terraform/terraform.tfstate.1751460920.backup
terraform/terraform.tfstate.1751460934.backup
terraform/terraform.tfstate.1751461116.backup
lambda/ask_handler.zip
